#### Find LCM of given two number

In [1]:
def compute_lcm(x,y):
    if x > y:
        greater = x
    else:
        greater = y
    while(True):
        if (greater % x == 0) and (greater % y == 0):
            lcm = greater
            break
        greater += 1
    return lcm

In [2]:
compute_lcm(12,14)

84

In [3]:
compute_lcm(10,8)

40

#### Compute HCF of given two number

In [4]:
def compute_hcf(x,y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller + 1):
        if ((x % i == 0) and (y % i == 0)):
            hcf = i
    return hcf

In [5]:
compute_hcf(18,14)

2

#### Convert Decimal into binary , octal , and hexadecimal

In [6]:
def Decimal(n):
    print("The decimal value of", n, "is:")
    print(bin(n), "in binary.")
    print(oct(n), "in octal.")
    print(hex(n), "in hexadecimal.")

In [7]:
Decimal(344)

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

#### Program To Find ASCII value of a character

In [8]:
def ASCII(c):
    print("The ASCII value of '" + c + "' is", ord(c))

In [9]:
ASCII('A')

The ASCII value of 'A' is 65

#### Make a Simple Calculator with 4 basic mathematical operations

In [10]:
def add(x,y):
    return x + y
def subtract(x,y):
    return x * y
def multiply(x,y):
    return x * y
def divide(x,y):
    return x / y

print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

while(True):
    choice = input(" Enter the choice:")
    
    if choice in ('1','2','3','4'):
        num1 = float(input("Enter first number."))
        num2 = float(input("Enter second number."))
        
        if choice == '1':
            print(num1,'+',num2,'=',add(num1,num2))
        elif choice == '2':
            print(num1,'-',num2,'=',subtact(num1,num2))
        elif choice == '3':
            print(num1,'*',num2,'=',multiply(num1,num2))
        elif choice == '4':
            print(num1,'/',num2,'=',divide(num1,num2))
        break
    
    else:
        print("Invalid Choice.")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
 Enter the choice:1
Enter first number.50
Enter second number.20
50.0 + 20.0 = 70.0